root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # (true) tira os espaços que sobram no final da linha
insert_final_newline = true # (true) coloca uma linha em branco no final do arquivo
end_of_line = lf # linux e windows entender p \n
